#Ignore VScode Workspace Settings
${workspaceroot}/*
#Ignore VScode Settings
.vscode
notes.code-workspace

todo.md
in-progress/
test/

# external data eg Kaggle Datasets
content/python/data/data

content/python/.ipynb_checkpoints
brooks_data_analysis_files