# https://gohugo.io/getting-started/configuration/
# TODO - Set base URL
baseURL = ""
relativeURLs = true
languageCode = "en-gb"
title = "Puneet's Notes On Data & Software Engineering"
description = "Puneet's notes on data & software engineering home page."

# Enable Git Info
enableGitInfo = true

# https://pygments.org/demo/
# https://xyproto.github.io/splash/docs/longer/xcode.html # monokailight # github 
pygmentsCodeFences=true
pygmentsstyle="monokai"
# Set pygmentsUseClasses to true to use syntax.css #https://gohugo.io/content-management/syntax-highlighting/ #https://xyproto.github.io/splash/docs/longer/all.html
pygmentsUseClasses=false

# Publish Directory
publishDir="docs"
disableKinds = ["taxonomy", "taxonomyTerm"]

[permalinks]
    posts = "blog/:year/:slug"


# https://gohugo.io/getting-started/configuration-markup/
[markup]
  defaultMarkdownHandler = "goldmark"
  [markup.asciidocExt]
    backend = "html5"
    extensions = []
    failureLevel = "fatal"
    noHeaderOrFooter = false
    #Default = false
    preserveTOC = true
    safeMode = "unsafe"
    sectionNumbers = false
    trace = true
    verbose = false
    workingFolderCurrent = false
    [markup.asciidocExt.attributes]

# --- DO NOT REMOVE ---
# Used to render dataframe output correctly from Markdown to HTML
[markup.goldmark.renderer]
  unsafe= true
  table = true

# https://github.com/toml-lang/toml/blob/master/toml.md#user-content-offset-date-time
[frontmatter]
date = ["date", "publishDate", "lastmod"]
lastmod = [":git", "lastmod", "date", "publishDate"]
publishDate = ["publishDate", "date"]
expiryDate = ["expiryDate"]
