{{ partial "head" . }}
<body>
 <header>
            <nav role="navigation">
                <div class="container">
                  
                    {{ partial "header-name.html" . }}  
                    {{ partial "custom-menu.html" . }}
                    
                </div>
            </nav>
        </header>

  <!-- <main> -->
  <div class="wrap">
    <main class="container">
      {{ partial "header" . }}
     
      <div class="row">
      <div class="card">
        <div class="new-card-body">
      <!-- {{ partial "search.html" . }}   -->
      {{.Content}}
</div>
</div>
</div>
    </main>
  </div>
  <!-- </main> -->
  {{ partial "footer" . }}     
</body>
