

@charset "UTF-8";@media all and (max-width: 768px) {
  :root {
      --scale:0.85;
      --main-width: 95%
  }
}

@media all and (min-width: 768px) {
  :root {
      --scale:0.95;
      --main-width: 80%
  }
}

@media all and (min-width: 1848px) {
  :root {
      --scale:1;
      --main-width: 42%
  }
}

@media all and (min-width: 2300px) {
  :root {
      --main-width:60em
  }
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


  /* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* NOTE
*/
  html {
    font-size: 100%;
    height: 100%; }
  body {
    --ff-sans: 'HelveticaNeueW01-55Roma','neue-haas-unica', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
    --ff-serif: Georgia, Cambria, "Times New Roman", Times, serif;
    --ff-mono: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
    font-size: 1rem; /* currently ems cause chrome bug misinterpreting rems on body element */
    font-weight: 400;
    font-family: var(--ff-sans);
    color: #222;
    height: 100%;
    display: flex;
    flex-direction: column;
    }

    .wrap {
      flex: 1 0 auto;

    }

    /* img {

      width: 100%;
      height: auto;
    } */
  
header {
    color: #222;
    text-align: center;
    text-transform: uppercase;
     font-family: var(--ff-serif);
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 2em;
}

header .container, footer .container {
  padding-left: 0.5rem;
    max-width: 940px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
    font-family: var(--ff-mono);
}

main.container {
  padding-left: 0.5rem;
  max-width: 940px;
  margin: 0 auto;

    
}

main.container .row {
    display: block;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    margin: 0 auto;
}

.row h2 {

  font-family: var(--ff-mono);
}

.row h2 {
    text-align: left;
    border: 1px solid #dcdcdd;
    padding: 6px;
    background-color: #000000;
    color:white;
    border-radius: 4px;
}



.row .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;

    border-radius: .6rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    text-align: left;
}

.row .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.row h4 {
    display: block;
    padding:8px;
    font-size: 1rem; line-height: 1.2rem;
    font-weight: normal;
    color:#888;
}

.row .card-body { 
    columns: 384px 2;
    padding: 1.25rem;
}

.new-card-body { 
  columns:unset;
  padding: 1.25rem;
}

article {
    display: block;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex: 0 0 100%;
    max-width: 100%;
}

#bug {

  border: 1px solid #cd0303;
  padding:8px;
  background-color: #ff4646;
  margin-bottom:1rem;
  border-radius: 6px;

}

#bug h2 {
  margin-bottom:0;
}

footer {

  background: black;
  color: #777777;
  font-family: var(--ff-mono);
  font-weight: 300;
  font-size: 12px;
  line-height: 27px;
  padding-top: 40px;
  padding-bottom: 32px;
  border-top: 0.5px solid rgba(255,255,255,0.5);
  flex-shrink: 0;

}



/*-------------
| Navigation
-------------*/
nav {
    display: block;
  
}
.nav {
    /* display: inline; */
    margin-left: auto;
}

.nav li {
    float: left;
    list-style-type: none;
}

.hidden {
    display: none;
}



/* Typography
–––––––––––––*/

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300; 
  font-family: var(--ff-mono);

}
h1 { font-size: 3.0rem; line-height: 1.2; }
h2 { font-size: 1.5rem; line-height: 1.25;  font-weight: bold;}

span.minor-size {
    font-size: .6em;
    font-weight: 400;
}

main h1 {
  margin-bottom: 0; }

h1 > a {
    letter-spacing: 0.5px;
    font-weight: 800;
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
}

h1 > a:hover {
  color: #000000;
  text-decoration: none;
}


#page-title {
  font-size: 1rem;
  color: #e62e00;
}

.highlight > pre {
  white-space: pre-wrap;
  border: 1px solid #ccc;
  line-height: 1.42857143;
  padding: 1em;
  border-radius: 6px;
/* background-color: #f2f2f2!important;   Overrides inline styles */
}

pre {
  /* border-radius: 6px; */
  border: 1px solid #ccc!important;
  padding: 6px;
  font-weight: bold;

}

pre code {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 3rem; }
  h2 { font-size: 1.5rem; font-weight: bold;}
}

p {
  margin-top: 0;
}

table.dataframe {
  overflow-y: scroll;
  display:block;
  font-size: 0.8rem;
  box-sizing: border-box;
}

.date {
  color: red;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--ff-mono);
}

  
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */


a {
    color: #4603ff;
    text-decoration: none;
}
  a:hover {
    color: #ff0202;
    text-decoration: underline;
}
  
a.home {
    text-decoration: none;
} 

li a {
  color: #013fa4;
}

li a:hover {
  color: #001c53;
}


/*------------
| MENU START 
-------------*/



:is(li) #menu {
  list-style: none;
}

#menu {
  /* width: 0%; */
  float:right;
  text-transform: lowercase;
}

@media all and (max-width: 768px) {
  #menu {
      display:none
  }
}

#menu ul {
  padding: calc(60px/2);
  margin: 0 auto;
  font-family: var(--code-font);
  display: flex;
  flex-direction: row
}

#menu ul li.menu-item {
  list-style: none;
  padding: 0 calc(60px/2)1px;
  font-size: 1rem
}

#menu ul li.menu-item a {
  color: var(--title-color);
  border-bottom: none
}

#menu ul li.menu-item a:hover {
  border-bottom: 3px solid var(--link-hover-underline)
}

#menu ul li.menu-item:first-child {
  padding: 0 calc(60px/2)0 0
}

@media all and (max-width: 768px) {
  #menu ul li.menu-item {
      padding:0 calc(60px/2)
  }

  #menu ul li.menu-item:first-child {
      padding: 0 calc(60px/2)0 0
  }
}

#menu ul li.menu-item img {
  transform: translateY(2px)
}

#menu ul .menu-item.active span {
  border-bottom: 3px solid var(--link-hover-underline)
}

#menu-mobile {
  position: sticky;
  bottom: 0
}

@media all and (min-width: 768px) {
  #menu-mobile {
      display:none
  }
}

#menu-mobile ul {
  display: flex;
  flex-direction: row;
  padding: .75em;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: flex-end;
  z-index: 20;
  background-color: var(--feature-background-color)
}

#menu-mobile ul li.menu-item {
  list-style: none
}

#menu-mobile ul li.menu-item a,#menu-mobile ul li.menu-item span {
  border-radius: 8px;
  background-color: var(--feature-background-color);
  border-bottom: none
}

#menu-mobile ul li.menu-item:hover {
  background-color: var(--link-hover-underline)
}

/*-----------
| MENU END
-------------*/

.avatar {
  display: block;
  margin: 0 auto;
  /* margin-top: 60px; */
  flex-shrink: 0;
  width: 200px;
  height: 190px;
  border-radius: 50%;
  border: 2px solid black;
  /* box-shadow: 3px 4px 0 var(--shadow); */
  /* border-radius: 50%; */
  overflow: hidden;
  /* transform: scale(2.1);
  transform-origin: top; */
  clear: both;

}
.avatar img {
  max-width: 100%;
}


  /* Buttons - ||| Maked for Removal |||
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; }
  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .button:focus,
  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }
  .button.button-primary,
  button.button-primary,
  input[type="submit"].button-primary,
  input[type="reset"].button-primary,
  input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0; }
  .button.button-primary:hover,
  button.button-primary:hover,
  input[type="submit"].button-primary:hover,
  input[type="reset"].button-primary:hover,
  input[type="button"].button-primary:hover,
  .button.button-primary:focus,
  button.button-primary:focus,
  input[type="submit"].button-primary:focus,
  input[type="reset"].button-primary:focus,
  input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB; }
  
  
  /* Forms
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box; }
  /* Removes awkward default styles on some inputs for iOS */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px; }
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #33C3F0;
    outline: 0; }
  label,
  legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600; }
  fieldset {
    padding: 0;
    border-width: 0; }
  input[type="checkbox"],
  input[type="radio"] {
    display: inline; }
  label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal; }
  
  
  /* Lists
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* UPDATED */
  ul { 
    margin-left: 16px; 
}

  ol {
    margin:0 0 0 16px; }
  ol, ul {
    padding-left: 0;
    margin-top: 0; }
  ul ul,
  ul ol,
  ol ol,
  ol ul {
    font-size: 90%; }
  /* li {
    margin-bottom: 1rem; } */
/* 
    main ol {
      list-style:decimal inside;
    } */
  
  
  /* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 1.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
