* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


  /* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* NOTE
*/
  html {
    font-size: 100%;
    height: 100%; }
  body {
    font-size: 1rem; /* currently ems cause chrome bug misinterpreting rems on body element */
    font-weight: 400;
    font-family: "Open Sans" ;
    color: #222;
    height: 100%;
    display: flex;
    flex-direction: column;
    }

    .wrap {
      flex: 1 0 auto;

    }
  
header {
    color: #222;
    text-align: center;
    text-transform: uppercase;
    /* font-family: source-serif-pro, 'Source Serif Pro', 'Lyon Display Web','LyonDisplay-Medium', serif; */
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 2em;
}

header .container, footer .container {
  padding-left: 0.5rem;
    max-width: 940px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
}

main.container {
  padding-left: 0.5rem;
  max-width: 940px;
  margin: 0 auto;

    
}

main.container .row {
    display: block;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    margin: 0 auto;
}

.row h2 {
    text-align: left;
    border: 1px solid #dcdcdd;
    padding:8px;
    background-color: #fd5b2a;
    border-radius: .6rem;
}

.row .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    background: #8e9eab;
    background: -webkit-linear-gradient(to right, #e9e9e9, #ffffff);
    background: linear-gradient(to right, #e9e9e9, #ffffff);
    border-radius: .6rem;
    box-shadow: 2px 2px #b8b7b7;
    text-align: left;
}

.row .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.row h4 {
    display: block;
    padding:8px;
    font-size: 1rem; line-height: 1.2rem;
    font-weight: normal;
    color:#888;
}

.row .card-body { 
    columns: 384px 2;
    padding: 1.25rem;
}

.new-card-body { 
  columns:unset;
  padding: 1.25rem;
}

article {
    display: block;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex: 0 0 100%;
    max-width: 100%;
}

#bug {

  border: 1px solid #cd0303;
  padding:8px;
  background-color: #ff4646;
  margin-bottom:1rem;
  border-radius: 6px;

}

#bug h2 {
  margin-bottom:0;
}

footer {

  background: black;
  color: #777777;
  font-family: 'HelveticaNeueW01-45Ligh','neue-haas-unica', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 27px;
  padding-top: 40px;
  padding-bottom: 32px;
  border-top: 0.5px solid rgba(255,255,255,0.5);
  flex-shrink: 0;

}



/*-------------
| Navigation
-------------*/
nav {
    display: block;
  
}
.nav {
    display: inline;
    margin-left: auto;
}

.nav li {
    float: left;
    list-style-type: none;
}

.hidden {
    display: none;
}



/* Typography
–––––––––––––*/

h1, h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 300; }
h1 { font-size: 3.0rem; line-height: 1.2; }
h2 { font-size: 1.5rem; line-height: 1.25;  font-weight: bold;}

span.minor-size {
    font-size: .6em;
    font-weight: 400;
}

main h1 {
  margin-bottom: 0; }

h1 > a {
    letter-spacing: 0.5px;
    font-weight: 800;
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
}

h1 > a:hover {
  color: #000000;
  text-decoration: none;
}


#page-title {
  font-size: 1rem;
  color: #e62e00;
}

.highlight > pre {
  white-space: pre-wrap;
  border: 1px solid #ccc;
  line-height: 1.42857143;
  padding: 1em;
  border-radius: 6px;
/* background-color: #f2f2f2!important;   Overrides inline styles */
}

pre {
  /* border-radius: 6px; */
  border: 1px solid #ccc!important;
  padding: 6px;
  font-weight: bold;

}

pre code {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 3rem; }
  h2 { font-size: 1.5rem; font-weight: bold;}
}

p {
  margin-top: 0;
}

table.dataframe {
  overflow-y: scroll;
  display:block;
  font-size: 0.8rem;
  box-sizing: border-box;
}

.date {
  color: red;
  font-size: 1rem;
  font-weight: bold;
}

  
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */


a {
    color: #4603ff;
    text-decoration: none;
}
  a:hover {
    color: #ff0202;
    text-decoration: underline;
}
  
a.home {
    text-decoration: none;
} 

li a {
  color: #013fa4;
}

li a:hover {
  color: #001c53;
}

/* DropDown Menu */


a {
  color: black;
  text-decoration: none;
}

.p-menu1{
   height: 100%;
}
/* Float right */
.f-right {
  margin-left: auto;
    margin-right: 0;
}


/* Hamburger */
.hamburger1 {
  height: 45px;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 120;
}

.hamburger1 div {
  background-color: rgb(61, 61, 61);
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 2rem;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: auto;
 visibility: unset;;
}


/* Menu */
.menu1 {
  width: 100%;
  background-color: white; 
  border: 1px solid black;
  color:black;
  margin: 0;
  position: absolute;
  display: -ms-grid;
  display: grid;
  /* grid-template-rows: 1fr repeat(4, 0.5fr); */
  /* grid-row-gap: 25px; */
  padding: 1rem;
  list-style: none;
  width: auto;
  text-align: left;
  height: auto;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  visibility: hidden;
  text-transform:none;
  /* height: 340px; */
}

.menu1 a:first-child {
  margin-top: 0rem;
}

.menu1 a:last-child {
  margin-bottom:0rem;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

.link1:hover {
  background-color: #fff;
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}



  /* Buttons - ||| Maked for Removal |||
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; }
  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .button:focus,
  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }
  .button.button-primary,
  button.button-primary,
  input[type="submit"].button-primary,
  input[type="reset"].button-primary,
  input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0; }
  .button.button-primary:hover,
  button.button-primary:hover,
  input[type="submit"].button-primary:hover,
  input[type="reset"].button-primary:hover,
  input[type="button"].button-primary:hover,
  .button.button-primary:focus,
  button.button-primary:focus,
  input[type="submit"].button-primary:focus,
  input[type="reset"].button-primary:focus,
  input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB; }
  
  
  /* Forms
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box; }
  /* Removes awkward default styles on some inputs for iOS */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px; }
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #33C3F0;
    outline: 0; }
  label,
  legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600; }
  fieldset {
    padding: 0;
    border-width: 0; }
  input[type="checkbox"],
  input[type="radio"] {
    display: inline; }
  label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal; }
  
  
  /* Lists
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* UPDATED */
  ul { 
    margin-left: 16px; 
}

  ol {
    margin:0 0 0 16px; }
  ol, ul {
    padding-left: 0;
    margin-top: 0; }
  ul ul,
  ul ol,
  ol ol,
  ol ul {
    font-size: 90%; }
  /* li {
    margin-bottom: 1rem; } */
/* 
    main ol {
      list-style:decimal inside;
    } */
  
  
  /* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 1.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
