{{ partial "head" . }}
{{ $date := .Date.Format "02.01.2006" }}
{{ $lastmod := .Lastmod.Format "02.01.2006" }}
  <body>
    <header>     
        <nav role="navigation">
            <div class="container">
                             
                {{ partial "header-name.html" . }}  
                {{ partial "custom-menu.html" . }}    
              </div>           
          </nav>
      </header>
                
            </div>           
        </nav>
    </header>
    <!-- <main> -->
      <div class="wrap">
        <main class="container">
          {{ partial "header" . }}
          {{.Content}}
      </main>
      </div>
    <!-- </main> -->
    {{ partial "footer" . }}     
  </body>
</html>