<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="{{ .Site.BaseURL }}/css/style.css" rel="stylesheet" media="all">

    <title>
      {{ .Title }}
    </title>
  </head>
  <body>
    <header>     
        <nav role="navigation">
            <div class="container">
                <div class="f-left">
                    <h1><a href="../../index.html" class="home">Puneet Thukral</a> | <span id="page-title">Notes on Data &amp; Software Engineering</span></h1>
                </div>               
                <!-- Future Navigation List Goes Here -->
            </div>           
        </nav>
    </header>
    <!-- <main> -->
      <div class="wrap">
        <main class="container">
          {{ partial "header" . }}    
          {{.Content}}
      </main>
      </div>
    <!-- </main> -->
    <footer>
      <!-- some footer -->
    </footer>
  </body>
</html>