{{ partial "head" . }}
  <body>
    <header>     
        <nav role="navigation">
            <div class="container">
                <div class="f-left">
                    <h1><a href="/index.html" class="home">Puneet Singh Thukral</a> | <span id="page-title">Notes</span></h1>
                </div>               
                <!-- Future Navigation List Goes Here -->
            </div>           
        </nav>
    </header>
    <!-- <main> -->
      <div class="wrap">
        <main class="container">
          {{ partial "header" . }}
         <br /> <br />
          {{.Content}}
          {{ partial "bug" . }}
      </main>
      </div>
    <!-- </main> -->
    <footer>
      <div class="container">Puneet Singh Thukral &#169; 2021</div> 
    </footer>
  </body>
</html>