{{ partial "head" . }}
  <body>
    <header>     
        <nav role="navigation">
            <div class="container">
                          
                {{ partial "header-name.html" . }}  
                {{ partial "custom-menu.html" . }}
              </div>           
          </nav>
      </header>
                
            
    <!-- <main> -->
      <div class="wrap">
        <main class="container">
          {{ partial "header" . }}
          <hr />
          
          {{.Content}}
          <!------------------ 
                Python Start 
            -------------------->
            <div class="row" id="python">
              <div>
                  <h2 class="category_header">Python</h2>
              </div>
               <!-- Basics Card -->
               <div class="card">
                  <h4 class="card-header">Basics</h4>
                  <div class="card-body">
                      <ul>
                          <li><a href="../../python/primitive_data_types/">Primitive Data Types</a></li>
                          <li><a href="../../python/for_loop_basics/">For Loop</a></li>
                          <li><a href="../../python/while_loop_basics/">While Loop</a></li>
                          <li><a href="../../python/format_basics/">New Format</a></li>
                          <li><a href="../../python/load_csv/">Load a CSV file</a></li>
                          <li><a href="../../python/load_json/">Load a JSON file</a></li>
                          <li><a href="../../python/write_dataframe_to_json/">Write a DataFrame to a JSON file</a></li>
                          <li><a href="../../python/drop_dataframe_columns/">Delete Columns in a DataFrame</a></li>
                          <li><a href="../../python/creating_arrays/">Create Arrays with NumPy</a></li>
                      </ul>
                  </div>   
              </div>
              <br />
              <!-- Numpy & Pandas Card -->
              <!-- <div class="card">
                  <h4 class="card-header">Data Wrangling</h4>
                  <div class="card-body">
                      <ul> -->
                         
                          
                          <!-- <li><a href="../../python/delete_columns_dataframe/">Delete Columns in a DataFrame</a></li> -->
                          <!-- <li><a href="#">Add column to a dataframe</a></li>
                          <li><a href="#">Populate a column</a></li>
                          <li><a href="#">Copy a column from another dtatframe</a></li>
                          <li><a href="#">Delete/Drop a column from a dataframe</a></li>
                          <li><a href="#">Query a dataframe</a></li> -->
                      <!-- </ul>
                  </div>   
              </div>
              <br /> -->
                <!-- Data Analysis Card -->
              <div class="card">
                  <h4 class="card-header">Data Wrangling &amp; Analysis</h4>
                  <div class="card-body">
                      <ul>
                          <li><a href="../../python/normalise_multiindex_data/">Normalising ETF Adjusted Close Prices in a Multi-Index DataFrame</a></li>
                          <li><a href="../../python/brooks_data_analysis/">Simple Data Analysis</a></li>
                      </ul>
                  </div>   
              </div>
              <br />
               <!-- System -->
               <div class="card">
                  <h4 class="card-header">System</h4>
                  <div class="card-body">
                      <ul>
                          <li><a href="../../python/oswalk/">Walking a directory tree with os.walk()</a></li>                            
                      </ul>
                  </div>   
              </div>
              <br />
              <!-- Web Scraping Card -->
              <div class="card">
                  <h4 class="card-header">Web Scraping</h4>
                  <div class="card-body">
                      <ul>
                          <li><a href="../../python/ws_requests_and_beautifulsoup/">Requests and Beautiful Soup</a></li>
                          
                      </ul>
                  </div>   
              </div>
              <br />
             
              <!------------------ 
                 Other 
              -------------------->
              <div class="row" id="other">
                  <h2 class="category_header">Other</h2>
              </div>
              <!-- Visual Studio Code Card -->
              <div class="card">
                  <div class="card-body">
                      <ul>
                          <li><a href="../../javascript/master_javascript_mindmap/">Master JavaScript Mindmap</a></li>
                          <li><a href="../../vscode/inserting_date_time/">VSC - Inserting Date Time</a></li>
                          <li><a href="../../vscode/vscode_shortcuts/">VSC - Shortcuts</a></li>
                          <li><a href="../../git/basic_git_commands/">Git - Basic Commands</a></li>
                          <li><a href="../../git/git_add_project/">Git - Adding an Existing Project to GitHub</a></li>  
                      </ul>
                  </div>   
              </div>
              <br />
              <!------------------ 
                 Known Issues
              -------------------->
              <!-- <div class="row" id="other">
                  <h2 class="category_header">Known Issues</h2>
              </div> -->
              <!-- Visual Studio Code Card -->
              <!-- <div class="card">
                  <div class="card-body">
                      <ul>
                          <li>Date Time stamp on notes</li>
                      </ul>
                  </div>   
              </div>
              <br /> -->
          </div>
      </main>
  </div>
<!-- </main> -->
    {{ partial "footer" . }}     
  </body>
</html>