
<div id="bug"></div>
<script>
    // This code snippet populates the bug link to the GitHub Issues repository
    var current_page = document.location.href;
    var _title =  document.title;   
    // var _url = 'https://github.com/MrSingh/notes/issues/new?&title=' + _title + 'body=' + current_page;    # TODO Add Ttitle
    var _url = 'https://github.com/MrSingh/notes/issues/new?body=' + current_page;
    var bug_snippet = "<h3>Report an error or bug <a href=" + _url + " target='blank'>here</a>.</h3>"
    function ready() {
        document.getElementById("bug").innerHTML = bug_snippet;    
    }
    document.addEventListener("DOMContentLoaded", ready);    
</script>
