<!-- <nav aria-label="Victoria.dev main menu" id="custom-menu">
    <button class="custom-menu-toggle" aria-label="Toggle menu">
        <a role="menuitem" href="#"><img src="../../images/menu.svg" alt="menu icon" class="menu-icon"></a>
    </button>
    <ul role="menubar" class="custom-menu">
        {{ range .Site.Menus.main }}
        <li role="none" class="custom-menu-item">
            <a role="menuitem" href="{{ .URL }}">
                <img src="../../images/{{ lower .Name }}.svg" alt="{{ .Name }} icon" class="custom-filter-icon"> {{ .Name }}
            </a>
        </li>
        {{ end }}
    </ul>
</nav> -->
