<div class="row"><div class="card"><div class="new-card-body">
<h1>{{ .Title }}</h1>
<p>{{ .Description }}</p>
<!-- <time>Published on: {{ .PublishDate.Format "Jan 2, 2006" }}</time><br />
<time>Last modified: {{ .Lastmod.Format "Jan 2, 2006" }}</time> -->

{{ $date := .Date.Format "Jan 2, 2006" }}
{{ $lastmod := .Lastmod.Format "Jan 2, 2006" }}

<time>Updated on: {{ $lastmod }}</time>
</div></div></div>
<!-- The code below shows Created on and Updated dates -->
<!-- <time>Created on: {{ $date }}</time>
{{ if ne $lastmod $date }}
    <time> <br /> Updated on: {{ $lastmod }}</time>
{{ end }} -->

<!-- <a href="https://github.com/MrSingh/notes/blob/master/content/python/{{ .Slug }}.ipynb" target="blank">See file on GitHub</a> -->

