
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K1PWW3YCPK"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K1PWW3YCPK');
    </script>
    <meta charset="utf-8">
    <title>{{.Title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
    <link href="css/style.css" rel="stylesheet" media="all">
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:image" content="https://puneet.uk/images/home.png" />
    <meta property="article:tag" content="Home Page" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Title }}" />
</head>
<body>
    <header>        
        <nav role="navigation">
            <div class="container">
                <div class="f-left">
                    <h1><a href="#" class="home">Puneet Singh Thukral</a> | <span id="page-title">Notes</span></h1>
                </div>               
                <!-- Future Navigation List Goes Here -->
            </div>           
        </nav>
    </header>

     <!-- Main Body Wrapper - All content blocks go inside -->
     <div class="wrap">
        <main class="container">
        {{ $date := .Date.Format "Jan 2, 2006" }}
        {{ $lastmod := .Lastmod.Format "Jan 2, 2006" }}
        
        <time>Site Last Updated on: {{ $lastmod }}</time><br /><br />
      
             <!------------------ 
                Git Start 
            -------------------->
            <div class="row" id="git">
                <div>
                    <h2 class="category_header">Git</h2>
                </div>
                <div class="card">
                    <div class="card-body">
                        <ul>
                            <li><a href="git/basic_git_commands/">Basic Git Commands</a></li>
                            <li><a href="git/git_add_project/">Adding an Existing Project to GitHub</a></li>                        
                        </ul>
                    </div>   
                </div>
                <br />
            <!------------------ 
                Python Start 
            -------------------->
            <div class="row" id="python">
                <div>
                    <h2 class="category_header">Python</h2>
                </div>
                 <!-- Basics Card -->
                 <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            <li><a href="python/for_loop_basics/">For Loop</a></li>
                            <li><a href="python/while_loop_basics/">While Loop</a></li>
                            <li><a href="python/format_basics/">New Format</a></li>
                        </ul>
                    </div>   
                </div>
                <br />
                <!-- Numpy & Pandas Card -->
                <div class="card">
                    <h4 class="card-header">Numpy &amp; Pandas</h4>
                    <div class="card-body">
                        <ul>
                            <li><a href="python/load_csv/">Load a CSV</a></li>
                            <li><a href="python/load_json/">Load JSON</a></li>
                            <li><a href="python/write_dataframe_to_json/">Write a dataframe to a JSON file</a></li>
                            <li><a href="python/drop_dataframe_columns/">Delete Columns in a DataFrame</a></li>
                            <li><a href="python/creating_arrays/">Create Arrays with NumPy</a></li>
                            <!-- <li><a href="python/delete_columns_dataframe/">Delete Columns in a DataFrame</a></li> -->
                            <!-- <li><a href="#">Add column to a dataframe</a></li>
                            <li><a href="#">Populate a column</a></li>
                            <li><a href="#">Copy a column from another dtatframe</a></li>
                            <li><a href="#">Delete/Drop a column from a dataframe</a></li>
                            <li><a href="#">Query a dataframe</a></li> -->
                        </ul>
                    </div>   
                </div>
                <br />
                 <!-- System -->
                 <div class="card">
                    <h4 class="card-header">System</h4>
                    <div class="card-body">
                        <ul>
                            <li><a href="python/oswalk/">Walking a directory tree with os.walk()</a></li>                            
                        </ul>
                    </div>   
                </div>
                <br />
                <!-- Web Scraping Card -->
                <div class="card">
                    <h4 class="card-header">Web Scraping</h4>
                    <div class="card-body">
                        <ul>
                            <li><a href="python/ws_requests_and_beautifulsoup/">Requests and Beautiful Soup</a></li>
                            
                        </ul>
                    </div>   
                </div>
                <br />
                <div>
                    <h2 class="category_header">Visual Studio Code</h2>
                </div>
                <!-- Visual Studio Code Card -->
                <div class="card">
                    <div class="card-body">
                        <ul>
                            <li><a href="vscode/inserting_date_time/">Inserting Date Time</a></li>
                            <li><a href="vscode/vscode_shortcuts/">VSC Shortcuts</a></li>
                        </ul>
                    </div>   
                </div>
                <br />
            </div>
        </main>
    </div>
  <!-- </main> -->
  <footer>
    <div class="container">Puneet Singh Thukral &#169;</div> 
  </footer>
</body>
</html>